.home .main-banner {
    height: 580px;
    margin: 0; // Enable this so no margin below the header on homepage
    
    @include screen-max-md(){
        height: 490px; 
    }

    @include screen-max-sm(){
        height: 490px; 
    }


    h2 {
        font-family: $font-2-h;
    }


}

.main-banner {
    position: relative;
    // overflow: hidden;
    height: 450px;
    margin: 26px 0 0 ;

    border-radius: 15px;	
    box-shadow: 0 4px 8px 0 rgba(82,97,115,0.18);

    @include screen-max-md(){
        height: 400px; 
    }

    @include screen-max-sm(){
        height: 300px; 
    }

    .banner-overlay{
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        border-radius: 15px;	

        @include opacity(0.15);
        
        &.solid {
            @include opacity(1);
        }
    }

    .banner-content {
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 50%;
        left: 50%;
        color: $brand-w;
        padding: 0;
        text-align: center;

        @include transform(translate(-50%, -50%));

        @include screen-max-md(){
            padding: 0;  
         }

         h1 {
            @extend .mega;

            @include screen-max-sm(){
                font-size: 52px;
            } 

        }

        h2 {
            font-size: 24px;
            line-height: 1.4;
            margin: 0 0 34px;

            @include screen-max-md(){
                font-size: 16px;
            } 
        
            @include screen-max-sm(){
                font-size: 16px;
            } 

        }

    }


    
    .util-drawer {
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 66px;
       @include transform(translateY(-29px));

    }

}




.util-drawer {
    height: 58px;
    width: 58px;
    padding: 0;
    background: $tint-4;
    overflow: hidden;

    @include transition(0.4s all ease);
    @include round-corners(58px);
    @include box-shadow(0 4px 8px 0 rgba(82,97,115,0.18));


    .social-share {
        visibility: hidden;
        height: 1px;
        overflow: hidden;
        @include opacity(0);
        @include transition(0.4s all ease);
    }

    .icon-toggle-off {
        display: none;
    }

    &.on {
        width: 180px;
        height: 180px;
        background: $brand-7;
        @include round-corners(4px);

        @include screen-max-xs(){
            height: 210px;
        } 

        .social-share {
            visibility: visible;
            height: auto;
            @include opacity(1);
        }

        .toggle {
            color: $brand-b;
            background: $brand-7;
            border-color: $brand-7;
        }

        .icon-toggle-off {
            display: block;
        }
        .icon-toggle-on {
            display: none;
        }
    }


    .toggle {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @include box-shadow(none);
    }

}    
