.main-banner {
    position: relative;
    overflow: hidden;
    height: 580px;

    @include screen-max-md(){
        height: 380px; 
    }


    @include screen-max-sm(){
        height: 230px; 
    }

     &.feature {
        height: 620px;

        @include screen-max-md(){
            height: 230px; 
         }

     }

    .banner-image-holder {
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .banner-content {
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 50%;
        left: 50%;
        color: $brand-w;
        padding: 0;

        @include transform(translate(-50%, -50%));

        @include screen-max-md(){
            padding: 0;  
         }


         h1 {
            @extend .mega;
        }

    }

    .banner-info {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0;
        height: 1px;
        overflow: visible;

        .col-12 {
            height: 1px;
            overflow: visible;
        }

        .expert-advise {
            @include transform(translateY(-50%));
        }
    
    }
}


.banner-static {
    height: 100%;
    background-size: cover;
    background-position: center;
}
