.wide-gutter.row {
    margin-right: -20px;
    margin-left: -20px;

    @include screen-max-sm(){
        margin-right: -15px;
        margin-left: -15px;
    }

}

.wide-gutter > [class^="col-"], 
.wide-gutter > [class^=" col-"] {
    padding-right: 20px;
    padding-left: 20px;

    @include screen-max-sm(){
        padding-right: 15px;
        padding-left: 15px;
    }

}


.main {
    padding: 60px 0;
  
    @include screen-max-sm(){
        padding: 30px 0;
    }

    .entry {
        background: $tint-w;
    }
  
}


// Custom blocks

.trusted-block {

    .block-title {
        font-family: $font-2-h;
        line-height: 1;
        margin: 0 0 10px;
        text-align: center;
        
    }

    .img-wrap {
        text-align: center;

        img {
            margin: auto;
        }
    }

    .odd-grid .col{

        @include screen-max-sm(){
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            margin: auto;
        }

    }
}


// CTA blocks

.cta-block {
    p {
        @extend .layout-p;
    }
}



// Equal height blocks...

.eq-blocks {

    .eq-block-wrap {
        margin-bottom: 40px;
            
        @include screen-max-xs(){
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
     
    .eq-block {
        position: relative;
        display: block;
        height: 0px;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
        color: $brand-w;

        @include box-shadow(0 0 0 0 rgba(82,97,115,0.18));
        @include round-corners(25px);
        @include transition(0.4s all ease);


        .btn {
            max-width: 178px;
        }

        &:hover {
            @include transform(translateY(-20px));
            @include box-shadow(0 8px 16px 0 rgba(82,97,115,0.18));

            .btn {
                background: $tint-w;
                color: $brand-b !important;
            }
        }
    }

    .eq-content {
        position: absolute;
        top: 50%;
        width: 100%;
        height: auto;
        z-index: 2;
        padding: 0 50px;
        @include transform(translateY(-50%));

        @include screen-max-md(){
            padding: 0 24px;
        }
    
        // @include screen-max-sm(){
        //     height: 300px; 
        // }


        h1 {
            @extend .layout-h1;
          }
        
          p {
            @extend .layout-p;
          }
          
    }

    .eq-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        @include opacity(0.15);
        @include round-corners(25px);
    }
}
  


// Home Columns ...

.home-column {

    .row {
        overflow: hidden;
    }

    h1 {
      @extend .layout-h1;
    }
  
    p {
      @extend .layout-p;
    }
  
    .content-wrap {
      max-width: 440px;
      margin: 0 auto;
      text-align: left;
    }
  
    .img-wrap {
        display: inline-block;
        position: relative;
      
        &.offset-img-right {
      
            .img-clip.circle {
                  @include box-shadow(0 16px 24px 0 rgba(82,97,115,0.14));
              }
            


          @include screen-max-xs(){
            width: 100%;
            padding-bottom: 400px;
      
              .img-clip.circle {
                position: absolute;
                width: 400px;
                left: 20%;
              }
      
          }
      
        }
      
        &.offset-img-left {

            .img-clip.circle {
                @include box-shadow(0 16px 24px 0 rgba(82,97,115,0.14));
            }
          
          @include screen-max-xs(){
            width: 100%;
            padding-bottom: 400px;
      
              .img-clip.circle {
                position: absolute;
                width: 400px;
                right: 20%;
              }
          }
        }
        
        .img-clip.circle {
          @include round-corners(100%);
            overflow: hidden;
        }
      
        img {
          max-width: 100%;
        }
      
    }
      
  
  
}




// Cards 

.card-collection {

    .card-wrap {
        margin-bottom: 30px;
    }

    .card {
        height: 100%;
        position: relative;
        border-radius: 15px;
        @include box-shadow(0 2px 4px 0 rgba(82,97,115,0.2));
        overflow: hidden;
        background-color: #FFFFFF;
        border: none;
        color: $brand-b;
        @include transition(0.4s all ease);

        &:hover {
            @include transform(translateY(-20px));
            @include box-shadow(0 8px 16px 0 rgba(82,97,115,0.18));
        }
    }

}



// Map Block

.map-container {
    width: 100%;
    height: 300px;
    margin: 0;
}
