button {
    outline: none;
}

.btn {
    padding: 0 22px;
    font-size: 18px;
    height: 48px;
    line-height: 46px;
    background: $tint-4;
    border-color: $tint-4;
    color: $brand-w;
    vertical-align: middle;
    text-align: center;
    font-family: $font-1-b;
    white-space: pre-wrap;
    text-decoration: none !important;
    @include round-corners(32px);
    @include transition(0.4s all ease);
    @include box-shadow(0 4px 8px 0 rgba(255,0,160,0.25));

    &:hover, 
    &:focus, 
    &:active,
    &:active:hover,
    &:active:focus {
        color: $brand-w;
        outline: none;
        background: #dd008b;
        border-color: #dd008b;
        // @include opacity(0.8);
        // @include box-shadow(none);
    }

    i.material-icons {
        font-size: 24px;
        vertical-align: middle;
        margin: 0 10px 0 0;
    }

    &.btn-full {
        width: 100%;
    }

    &.btn-lg {
        height: 58px;
        line-height: 56px; 
        vertical-align: middle;
        padding: 0 30px;
        @include round-corners(38px);
    }

    &:disabled {
        background: $tint-4;
        border-color: $tint-4;
    }

}

.btn-icon {    height: 58px;
    width: 58px;
    padding: 0;
    line-height: 0;
    vertical-align: middle;
    text-align: center;
    @include round-corners(58px);
    @include box-shadow(0 4px 8px 0 rgba(82,97,115,0.98));
    
    i.material-icons {
        vertical-align: middle;
        font-size:22px;
        margin: 0;
    }

    &:hover {
        border-color: $tint-w;
    }


}

.btn-outline {
    border: 3px solid $tint-w;
}

.btn-jump {
    &:hover {
        @include transform(translateY(-5px));
        @include box-shadow(0 8px 16px 0 rgba(255,0,160,0.25));
    }
}

.btn-1 {
    border-color: $tint-w;
    border-width: 2px;
    background: transparent;
    color: $brand-w !important;
    font-family: $font-1-b;
    font-size: 16px;
    line-height: 42px;

    @include box-shadow(0 0 0 0 rgba(82,97,115,0.18));


    &:hover {
        background: $tint-w;
        color: $brand-b;
        border-color: $tint-w;
    }
}

.btn-2 {
    border-color: $tint-b;
    background: $tint-b;
    color: $brand-w !important;
    @include box-shadow(0 4px 8px 0 rgba(82,97,115,0.18));

    &:hover {
        background: #2f3740;
        border-color: #2f3740;
        @include transform(translateY(-10px));
        @include box-shadow(0 8px 16px 0 rgba(82,97,115,0.18));
    }

}

.btn-3 {
    border-color: $tint-4;
    background: transparent;
    color: $brand-4 !important;

    &:hover, 
    &:focus, 
    &:active,
    &:active:hover,
    &:active:focus {
        color: $brand-w;
        background: $tint-4;
    }
}

.btn-4 {
    border-color: $tint-4;
    background: $tint-4;
    color: $brand-w;

    &:hover, 
    &:focus, 
    &:active,
    &:active:hover,
    &:active:focus {
        background: $tint-6;
        border-color: $tint-6;
    }
}

