.tint-w {
  background: $tint-w;
}

.tint-b {
  background: $tint-b;
}

.tint-1 {
    background: $tint-1;
}

.tint-2 {
    background: $tint-2;
}

.tint-4 {
  background: $tint-4;
}

.tint-5 {
  background: $tint-5;
}

.tint-6 {
  background: $tint-6;
}

.tint-7 {
  background: $tint-7;
}

.tint-8 {
  background: $tint-8;
}





.brand-w {
  color: $brand-w;
}

.brand-b {
  color: $brand-b;
}

.brand-1 {
  color: $brand-1;
}

.brand-2 {
  color: $brand-2;
}

.brand-4 {
  color: $brand-4;
}

.brand-5 {
  color: $brand-5;
}

.brand-6 {
  color: $brand-6;
}

.brand-7 {
  color: $brand-7;
}

.brand-8 {
  color: $brand-8;
}


