footer.site-footer {
    background: $brand-b;
    color: $brand-6;
    padding: 40px 0;
    font-family: $font-mont-r;
    font-size: 13px;

    a {
        font-size: 13px;
        color: $brand-6;
        line-height: 1.2;
        display: block;
        margin: 0 0 6px;

        &:hover {
            color: $brand-2;
        }

    }

    h5 {
        font-family: $font-mont-b;
        font-size: 13px;
    }

    @include screen-max-sm(){
        text-align: center;
    }

    .search-form {
        position: relative;

        input {
            background: $tint-b;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 42px;
            z-index: 1;
            color: $brand-w;
            background: transparent;
            border: none;
            font-size: 22px;
            cursor: pointer;
        }

    }


    ul.footer-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;

        // @include screen-max-sm(){
        // }

        // @include screen-max-md(){
        // }

       & > li {
            margin: 0;

            & > a {
                display: block;
                font-family: $font-mont-b;
                margin: 0 0 20px;
            }
            
            & > ul {
                list-style-type: none;
                margin: 0 0 20px;
                padding: 0;

                li {
                    margin: 0;
                }
            }

        }

    }



    .footer-site-info {
        margin: 0 0 5px;
        padding: 0;

        @include screen-max-sm(){
            margin: 20px 0;
        }

        li {
            display: inline-block;
            font-size: 13px;
            margin: 0;

            @include screen-max-sm(){
                display: block;
                margin: 0 0 5px;
            }
        }
    }


}