footer.site-footer {
    border-top: 1px solid $tint-7;
    background: $brand-w;
    color: $brand-b;
    font-family: $font-1-r;
    font-size: 12px;


    .contact-info {
        display: inline-block;
        vertical-align: top;
        margin: 0;

        @include screen-max-sm(){
            margin: 0 0 20px;
            float: none;
            display: block;
            text-align: center;

            ul {
                display: inline-block;
                margin: 0 auto;
            }

            li {
                a {

                    img {
                        margin: 5px 8px 0 0;
                    }

                    strong{
                        font-size: 20px;
                        vertical-align: middle;
                    }
                }
            }

        }

        li {
            display: block;
            margin: 0 0 12px;
            text-align: right;

            img {
                margin: 0 8px 0 0;
                float: left;
            }

            a {
                font-size: 16px;
            }
        }

    }


    .social {
        @include screen-max-sm(){
            display: block;
            text-align: center;
            margin: 0 0 40px;

            li {
                margin: 0 15px;

                a {
                    font-size: 24px;
                }
            }
        }
    }
}


.footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;

    a {
        font-size: 12px;
        color: $brand-b;
        line-height: 1.2;
        display: block;
        margin: 0 0 6px;
        text-transform: lowercase;

        &:hover {
            color: $brand-b;
            text-decoration: underline;
        }
    }

   & > li {
        margin: 0;
        display: table-cell;
        vertical-align: top;
        padding-right: 36px;

        & > a {
            font-family: $font-1-b;
            font-size: 16px;
            text-transform: none;
            margin: 0 0 15px;

            &:hover {
                color: $brand-b;
                cursor: default;
                text-decoration: none;
            }
        }

        & > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
            }
        }

    }

    @include screen-max-sm(){
        
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        position: relative;

        & > li {
            display: block;
            margin: 0;
            padding: 0;
        }

        .menu-item-180 {
            vertical-align: top;
            width: 50%;
        }
        
        .menu-item-181 {
            vertical-align: top;
            width: 50%;
            margin-top: 30px;
        }
        
        .menu-item-182 {
            position: absolute;
            top: 0;
            right: 0;
            width: 46%;
        }
        
    }


}




.copyright {
    border-top: 1px solid $tint-7;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 0 0;
    }

    a {
        font-size: 12px;
        color: $brand-b;
        line-height: 1.2;
        display: block;
        margin: 0 0 6px;
        text-transform: lowercase;

        &:hover {
            color: $brand-b;
            text-decoration: underline;
        }
    }
}


.partners {

    float: right;

    li {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 15px;
    }

    @include screen-max-sm(){
        float: none;
    }

}