.divider {
  height: 1px;
}

.pagination {
  display: block;
  text-align: center;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    @include round-corners(40px);

    a, span {
      font-family: $font-1-b;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      color: $brand-b;
    }

    &.ellip {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      color: $brand-b;
      border-color: transparent;

      &:hover {
        background-color: transparent;
        box-shadow: 0 0 0 0 rgba(82,97,115,0.2);
  
      }
    }

    &.active {
      background: $tint-b;

      a {
        color: $brand-w;
      }
      
    }

    &:hover {
      background-color: #DADEE5;
      box-shadow: 0 2px 4px 0 rgba(82,97,115,0.2);

      a {
        color: $brand-b;
      }
    }

    &.disabled:hover {
      background-color: transparent;
      box-shadow: 0 0 0 0 rgba(82,97,115,0.2);
    }

  }

  .prev a, .next a, .prev span, .next span {
    
    i {
      font-size: 26px;
      width: 40px;
      display: block;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }

  }

}


.breadcrumbs {
  font-size: 14px;
  padding: 40px 0 20px;
  border-bottom: 1px solid $tint-7;
  display: block;
}

.back-btn {
  float: right;
  font-size: 14px;
  
  i {
    font-size: 20px;
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}