.divider {
  height: 1px;
}

.pagination {
  display: block;
  text-align: right;
  white-space: nowrap;

  li {
    display: inline-block;
    border: 1px solid $tint-1;
    margin: 0;
    padding: 0;

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      color: $brand-b;
    }

    &.ellip {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      color: $brand-b;
      border-color: transparent;
    }

    &.active {
      background: $tint-1;

      a {
        color: $brand-w;
      }
      
    }
  }

  .prev a, .next a {
    i {
      font-size: 26px;
      width: 40px;
      display: block;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }

}
