.home .site-header {
  @include box-shadow(none); // Enable this so no shadow on homepage
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 99;
  background: $brand-w;
  @include box-shadow(0 4px 8px 0 rgba(82,97,115,0.18));

  .inner {
    height: 76px;
    
    @include screen-max-md(){
    }

  }

}


.branding {
  width: 125px;
  float: left;
  margin: 20px 20px 0 0;

  img {
      max-width: 100%;
  }

  @include screen-max-md(){
    width: 125px;
  }
}


.header-spacer{
  @include screen-max-md(){
      // margin-bottom: 60px !important;
  }
}



.contact-info {
  float: right;
  margin: 22px 0 0;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 0 14px;

    @include respond(1260){
      margin: 0;
    }

    a {
      color: $brand-b;
    }

    img {
      display: inline-block;
      margin: 0 5px 0 0;
    }
  }

  strong {
      @include respond(1260){
        display: none;
      }
  }

}