.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 99;
  
  .site-header-inner {
    background: $brand-b;
    z-index: 10;

  }

  .header-wrap {
    padding: 15px 0;
    
    @include screen-max-md(){
      padding: 10px 0;
    }

  }

  @include screen-max-sm(){
    margin: 0;  
  }

}


.branding {
  display: inline-block;
  width: 338px;

  img {
      max-width: 100%;
  }

  @include screen-max-md(){
    width: 200px;
  }
}

.site-controls {
  padding: 0 0 20px;
}

.site-info {
    list-style-type: none;
    margin: 0;
    padding: 0;

  li {
    display: inline-block;
    color: $brand-w;
    margin-left: 20px;
    font-size: 14px;

    a {
      color: $brand-w;
    }

    i {
      margin-right: 8px;
      color: $brand-7;
    }
  }
}


.header-spacer{
  @include screen-max-md(){
      margin-bottom: 60px !important;
  }
}


.call-btn {
  width: 100%;
}

