.modal-content {
    background: transparent;
    @include round-corners(0px);
}

.modal-header {
    padding: 30px 60px 0;
    border: none;

    @include screen-max-sm(){
        padding: 20px 20px 0;
    }

    .close {
        color: $brand-b;
        font-size: 56px;
        padding: 0;
        margin: -1rem -1rem -1rem auto;
        @include opacity(1);
    }
}

.modal-body {
    padding: 0 30px 30px;
    border: none;

    @include screen-max-sm(){
        padding: 0 20px 20px;
    }

    .fa-comment {
        color: $brand-b;
        font-size: 38px;
    }
}


.modal-backdrop.show {
    opacity: 0.8;
}


.vid-modal {

    .modal-content {
        border: none;
        background: transparent;
    }

    .modal-header {
        padding: 30px 0;
        background: transparent;
        border: none;

        .close {
            display: inline-block;
            font-weight: normal;
            font-size: 14px;
            line-height: 1;
            vertical-align: middle;
            margin: 0 0 0 auto;
            color: $brand-w;
            font-family: $font-1-r;
            @include opacity(1);

             i {
                vertical-align: middle;
                font-size: 20px;
             }
        }

    }

    .modal-body {
        background: transparent;
        border: none;
        padding: 0;
    }

}

.grupo-form-modal {
    border-radius: 10px;

    .modal-header {
        padding: 20px 20px 0;

        .close {
            display: inline-block;
            font-weight: normal;
            font-size: 14px;
            line-height: 1;
            vertical-align: middle;
            margin: 0 0 0 auto;
            @include opacity(1);

             i {
                vertical-align: middle;
                font-size: 32px;
             }
        }

    }

    .modal-content {
        background: $tint-w;
        @include round-corners(10px);
    }

    .btn {
        width: 100%;
        max-width: 120px;
    }


    h2 {
        font-size: 24px;
        font-family: $font-1-h;
    }
    
}


.gallery-modal {

    .modal-header {
        .close {
            i {
                vertical-align: middle;
                font-size: 22px;
            }

            color: $brand-w;
            font-size: 14px;
            padding: 0 0 30px;
            margin: -1rem -1rem -1rem auto;
        }
    }
    

    .modal-body {
        text-align: center;

        img {
            max-width: 100%;
        }
    }
}


@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 856px;
    }

    .modal-mdx {
        width: 90%;
        max-width: 530px;
    }
}