// MAIN NAVIGATION

.main-menu {

    float: left;
    margin: 25px 0 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    & > ul {

        & > li {
            display: inline-block;
            padding: 0 15px;
            position: relative;

            & > a {
                font-family: $font-2-h;
                text-transform: uppercase;
                color: $brand-b;
                display: inline-block;

                &:after {
                    content: '';
                    display: block;
                    height: 5px;
                    border-bottom: 2px solid $tint-w;
                }

                .material-icons {
                    display: none;
                    @include transition(0.2s all ease);
                }

                &:hover {

                    &:after {
                        border-color: $tint-b;
                    }

                }
            }

            & > .sub-menu {
                position: absolute;
                top: 100%;
                left: 0;
                visibility: hidden;
                width: 280px;
                background-color: $tint-6;	

                @include round-corners(4px);	
                @include opacity(0);
                @include transform(translateY(20px));
                @include transition(0.2s all ease);
                @include box-shadow(0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2));

            }

            &:hover {

                & > .sub-menu {
                    visibility: visible;
                    @include opacity(1);
                    @include transform(translateY(10px));
                }

                & > a:after {
                    border-color: $tint-b;
                }

                .material-icons {
                    @include transform(rotate(180deg));
                }
            }

            &.menu-item-has-children > a .material-icons {
                display: inline-block;
                color: $tint-b;
                font-size: 18px;
                line-height: 24px;
                vertical-align: top;
                margin: 0 0 0 5px;
                @include opacity(0.5);
            }
        }

        .sub-menu {
            position: relative;
            visibility: hidden;
            @include opacity(0);

            &:before {
                display: block;
                position: absolute;
                content: '';
                width: 100%;
                height: 10px;
                bottom: 100%;
                background: transparent;
            }

            a {
                font-family: $font-1-r;
                color: $brand-b;
                height: 48px;
                padding: 0 14px;
                line-height: 48px;
                display: block;
                @include transition(0.2s all ease);

                .material-icons {
                    display: none;
                }

                &:hover {
                    text-decoration: none;
                    background-color: rgba(0,0,0,0.08);
                }
            }

        }

    }

}




// MOBILE NAVIGATION

.mobile-toggles {
    margin: 18px 0 0;
    padding: 0;
    float: right;
    display: none;


    @include screen-max-md(){
        margin: 5px 0 0;
    }
  

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;

        li {
            width: 32px;
            height: 32px;
            line-height: 32px; 
            text-align: center;
            font-size: 22px;
            display: inline-block;
            margin: 0;
        }

        button {
            color: $brand-w;
            border: none;
            padding: none;
            background: transparent;
            cursor: pointer;
        }
    }
}

.mobile-main-nav-toggle {
    position: relative;
    width: 34px;
    height: 20px;

    &:before {
        position: absolute;
        content: '';
        background: $tint-w;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
    }

    span {
        position: absolute;
        background: $tint-w;
        width: 100%;
        height: 1px;
        top: 9px;
        left: 0;
    }

    &:after {
        position: absolute;
        content: '';
        background: $tint-w;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
    }
}

.mobile-main-nav-drawer {
    position: fixed;
    width: 400px;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    height: 100%;
    background: $tint-b;
    z-index: 9;
    overflow: auto;
    font-family: $font-mont-b;

    @include transition(0.4s all ease);
    @include transform(translateX(100%));


    @include screen-max-sm(){
        width: 100%;
    }


    .menu-inner {
        padding: 100px 0 0;
        margin: 0;
        list-style-type: none;

        & > li {

            a {
                color: $brand-w;
                // text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                    color: $brand-1;
                }
            }

            .sub-menu {

                font-family: $font-mont-r;

                & > li {

                    a {
                        padding-left: 40px;
                    }


                    .sub-menu {
                        margin: 0;
                        padding: 0;
                    }
                }

            }
        }
    }

    li {
        padding: 0;
        border-bottom: 1px solid $tint-6;

        a {
            display: inline-block;
            padding: 15px 20px;
        }
    }

    li.menu-item-has-children {
        position: relative;

        & > button {
            position: absolute;
            font-size: 16px; 
            top: 6px;
            right: 20px;
            border: none;
            background: transparent;
            height: 32px;
            width: 32px;
            line-height: 32px;
            vertical-align: middle;
            text-align: center;
            outline: none;
            color: $tint-w;
            cursor: pointer;
            @include transition(0.4s all ease);

            &.on {
                @include transform(rotate(180deg));
            }
        }
    }

    .sub-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: none;

        li:last-child {
            border: none;
        }
    }

}

body {

    &.menu-drawer-on {

        .mobile-main-nav-drawer {
            @include transform(translateX(0));
        }

    }

}
